<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.orders.title' | translate }}</h1>
    <div class="actions">
      <a (click)="onGetOrdersClick()" mat-raised-button class="actions-main" color="primary">
        {{ 'stms.orders.get-orders' | translate }}
      </a>

      <div class="content">
        <ng-container *ngIf="ordersAsyncStatus$ | async as status">
          <div *ngIf="status === asyncReadyStatuses.Loading" class="loader">
            <mat-spinner></mat-spinner>
          </div>

          <ng-container *ngIf="status !== asyncReadyStatuses.Idle && status !== asyncReadyStatuses.Loading">
            <table mat-table [dataSource]="orders$" class="mat-elevation-z8">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>{{ 'stms.orders.grid.id' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.identifier | orDefault }}</td>
              </ng-container>

              <ng-container matColumnDef="orderName">
                <th mat-header-cell *matHeaderCellDef>{{ 'stms.orders.grid.order-name' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.orderName | orDefault }}</td>
              </ng-container>

              <ng-container matColumnDef="orderNum">
                <th mat-header-cell *matHeaderCellDef>{{ 'stms.orders.grid.order-num' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.orderNum | orDefault }}</td>
              </ng-container>

              <ng-container matColumnDef="patient">
                <th mat-header-cell *matHeaderCellDef>{{ 'stms.orders.grid.patient-name' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.patient?.fullName | orDefault }}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>{{ 'stms.orders.grid.actions' | translate }}</th>
                <td mat-cell *matCellDef="let element">
                  <st-favorites-button
                    [added]="favoriteEntities$ | async | addedToFavorites: element"
                    (addToFavorites)="onAddToFavoritesClick(element)"
                  ></st-favorites-button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let row; columns: columns"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="columns.length">No records to display</td>
              </tr>
            </table>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
