<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.patients.title' | translate }}</h1>
    <div class="actions">
      <a mat-raised-button class="actions-main" color="primary" (click)="onGetPatientsClick()">
        {{ 'stms.patients.get-patients' | translate }}
      </a>
    </div>

    <div class="content">
      <ng-container *ngIf="patientsRenderingStatus$ | async as status">
        <div *ngIf="status === asyncReadyStatuses.Loading" class="loader">
          <mat-spinner></mat-spinner>
        </div>

        <ng-container *ngIf="status !== asyncReadyStatuses.Idle && status !== asyncReadyStatuses.Loading">
          <table mat-table [dataSource]="patients$" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ 'stms.patients.grid.name' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.fullName | orDefault }}</td>
            </ng-container>

            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>{{ 'stms.patients.grid.code' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.code | orDefault }}</td>
            </ng-container>

            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef>{{ 'stms.patients.grid.age' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.birthDate?.dateTime | age }}</td>
            </ng-container>

            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef>{{ 'stms.patients.grid.active' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ !element.inactive | orDefault }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>{{ 'stms.patients.grid.actions' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="accent" (click)="onAddToFavoritesClick(element)">
                  <mat-icon><fa-icon icon="heart" color="accent"></fa-icon></mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
          </table>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
